body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1320px;
}

.primary-btn {
    background-color: #1d4ed8;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
}

.primary-btn:hover,
.pro-btn:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #0D1B2A;
    border: 1px solid #0D1B2A;
}

.secondary-btn {
    color: #1d4ed8;
    background-color: white;
    padding: 15px 30px;
    border-radius: 10px;
    border: 1px solid #1d4ed8;
    width: 100%;
}

.secondary-btn:hover {
    cursor: pointer;
    background-color: #1d4ed8;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    width: 100%;
}

.pro-btn {
    background-color: #1d4ed8;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    width: 100%;
}


/* navbar css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav li a {
    text-decoration: none;
    color: #575757;
}

nav li a:hover {
    color: #1d4ed8;
}


/* hero section css */

.hero {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
        url("./assets/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-texts {
    max-width: 50%;
}

.hero h1 {
    text-align: center;
    font-size: 80px;
    margin: 16px 0px;
    color: white;
}

.hero p {
    text-align: center;
    font-size: 22px;
    color: white;
    font-weight: 200;
}

/* Speakers section */

.speakers-section {
    margin: 80px auto;
}

.speakers-section h1 {
    text-align: center;
    font-size: 56px;
    margin-bottom: 56px;
}

.speakers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.card {
    border: 1px solid #E5E7EB;
    border-radius: 12px;
}

.card img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.speaker-info {
    padding: 24px;
}

.speaker-title {
    color: #1d4ed8;
    margin: 0px;
    font-size: 12px;
}

.speaker-company {
    color: #575757;
    margin: 0px;
    font-size: 14px;
}

.speaker-name {
    margin: 8px 0px;
    font-size: 20px;
}


/* packages */
.packages {
    margin: 80px auto;
}

.pakcage-heading {
    text-align: center;
    margin: 48px 0px;
}

.pakcage-heading h1 {
    font-size: 48px;
    margin: 0px;
}

.pakcage-heading p {
    font-size: 16px;
    margin: 12px 0px;
    color: #575757;
}

.package-cards {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.package-card {
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    padding: 32px;
}

.package-card p {
    margin: 5px 0px;
    color: #575757;
    font-size: 13px;
}

.package-card h1 {
    margin: 0px;
    font-size: 44px;
}

.package-name {
    margin-bottom: 32px;
}

hr {
    border: none;
    height: 1px;
    background-color: #E5E7EB;
}

.pro-hr {
    border: none;
    height: 1px;
    background-color: #575757;
}

.features {
    margin: 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #575757;

    font-size: 14px;
}

.features li::marker {
    color: #1d4ed8;
}

.pro-card {
    border: 1px solid #0D1B2A;
    background-color: #0D1B2A;
    border-radius: 12px;
    padding: 32px;
}

.pro-name {
    margin-bottom: 32px;
}

.pro-package-name {
    margin: 5px 0px;
    color: #1d4ed8;
    font-size: 13px;
}

.pro-package-person {
    margin: 0px;
    color: #E5E7EB;
    font-size: 13px;
}

.pro-card h1 {
    margin: 0px;
    font-size: 44px;
    color: white;
}

.pro-features {
    margin: 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #ffffff;

    font-size: 14px;
}

.pro-features li::marker {
    color: #1d4ed8;
}

/* why attend css */
.why-attent-container {
    margin: 80px auto;
}

.why-attent-heading{
    text-align: center;
    margin: 30px 0px;
}

.why-attent-heading h1{
    margin: 0px;
    font-size: 48px;
}
.why-attent-heading p{
    margin: 0px;
    font-size: 20px;
    color: #575757;
}

.why-attent-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    text-align: center;
}

.why-attent-cards img {
    width: 40px;
    height: 40px;
}

.why-attent-cards p{
    color: #575757;
    font-size: 14px;
}

.why-attent-card {
    padding: 50px 30px;
    border-radius: 12px;
    border: 1px solid #E5E7EB;
}

/* footer */

footer {
    background-color: #0D1B2A;
}

.footer {
    margin: auto;
    padding: 30px 0px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.footer-bottom {
    color: #575757;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}